<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <h1>Oops! Page Not Found</h1>
    <p>The page you're looking for doesn't exist. Please check the URL or go back to the <a href="/">homepage</a>.</p>
</body>
</html>

<!-- NOTE: This page will only be shown when DEBUG is set to False in settings.py file
Mostly we will have DEBUG set to True because we test in production only , so mostly this page is of no use -->
