{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="This is a form for MAIT ">
    <meta name="robots" content="INDEX, FOLLOW">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'login_style.css' %}">
    <link rel="stylesheet" href="{% static 'output_index.css' %}">
    <link rel="shortcut icon" href="/static/media/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body class="bg-blue-100">

    <!-- When there is some message like "Mail sent" or "Record not found"-->
    {% if messages %}
		{% for message in messages %}
			{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
		{% endfor %}
	{% endif %}


    <div class="header bg-blue-950 flex shadow shadow-black">
        <img class="w-[250px] sm:w-[250px]" src="/static/media/maitlogomain.png" alt="MAIT" />
        <p class="font-semibold mx-5 text-2xl sm:text-5xl text-white">
        Application Form
        </p>
    </div>
    <div class="card login-form">
        <div class="centered">
            <h1 class="text-black-600 text-3xl font-medium text-center py-5">
                Reset your Password
            </h1>
        </div>
        <p class="input-label text-red-400 font-medium pb-2 centered">(New Credentials will be sent to your Registered Email)</p>
        <form action="/password-reset/" class="card-form" method="post">
            {% csrf_token %}
            <div class="login-form-fields w-[75%] m-auto bg-zinc-200 shadow-lg shadow-zinc-400 py-5">
                <div class="flex flex-col justify-between shadow-sm mt-5  px-4 py-5 rounded-md">
                    <div class="input flex-col flex mx-3 pt-5">
                        <label class="input-label font-medium text-base pb-2 text-red-600">GGSIPU Registration No.*</label>
                    <input type="text" class="input-field px-2 py-1  bg-slate-200 text-gray-700 placeholder:text-gray-400 border-blue-500   border-[1px] shadow-sm shadow-blue-300 placeholder:text-sm" name="ipu_registration" value="" required />
                </div>
                <div class="input flex-col flex mx-3 pt-5">
                    <label class="input-label font-medium text-base pb-2 text-red-600">Registered Email*</label>
                    <input type="email" class="input-field px-2 py-1  bg-slate-200 text-gray-700 placeholder:text-gray-400 border-blue-500   border-[1px] shadow-sm shadow-blue-300 placeholder:text-sm" name="email" value="" required />
                </div>
            </div>
            <div class="flex justify-center flex-wrap">
                <!-- Temporarily disabling new registrations -->
                <!--
                <p class="font-medium pb-2 text-red-600 mx-3">Not Registered?&nbsp<span
                    class="text-blue-600 text-[1.3rem] "><a href="/" class="underline"> Register</a></span>
                </p> -->
                <p class="font-medium pb-2 text-red-600 mx-3">Login&nbsp<span
                    class="text-blue-600 text-[1.3rem] "><a href="/login" class="underline" > Login</a></span>
                </p>
            </div>
            <div class="flex justify-center">
                <input class="text-lg bg-slate-300 hover:bg-zinc-700 hover:text-zinc-400 hover:border-blue-600 border-2 px-4 py-1 border-black font-mono font-semibold text-blue-700 rounded-sm " type="submit" value="Send Mail">
            </div>
        </form>
    </div>
</body>




